<div ng-controller="publicationsCtrl">
    <div>Citation network
        <div class="row citation-network">
            <div citation-network-venue chart-data="publications"></div>
        </div>
    </div>
</div>
